
<div class="mb-10">
    <section class="py-1 bg-blueGray-50 flex justify-center">
        <div class="w-full xl:w-8/12 mb-12 xl:mb-0  px-4 mt-24">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <div class="text-5xl text-blueGray-700 ">Projects</div>
                </div>
            </div>
            </div>
    
            <div class="block w-full">
            <table class="items-center bg-transparent w-full border-collapse w-full">
                <thead>
                <tr>
                    <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-2xl uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                ID
                                </th>
                    <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-2xl uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Project name
                                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-2xl uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Start date
                                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-2xl uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Planned end datetime
                                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-2xl uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Description
                                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-2xl uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Project code
                                </th>
                </tr>
                </thead>
    
                <tbody *ngFor = "let proj of projs">
                <tr>
                    <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-2xl whitespace-nowrap p-4 text-left text-blueGray-700 ">
                    {{ proj.id }}
                    </th>
                    <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-2xl whitespace-nowrap p-4 text-left text-blueGray-700 ">
                    {{ proj.project_name }}
                    </th>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-2xl whitespace-nowrap p-4 ">
                    {{ proj.start_date | date:'yyyy-MM-dd'}}
                    </td>
                    <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-2xl whitespace-nowrap p-4">
                    {{ proj.planned_end_datetime | date:'yyyy-MM-dd'}}
                    </td>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-2xl whitespace-nowrap p-4">
                    <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                    {{ proj.description }}
                    </td>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-2xl whitespace-nowrap p-4">
                    <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                    {{ proj.project_code }}
                    </td>
                    <td *ngIf="userIsAuthtenticated"><a type="button" class="btn btn-warning" [routerLink]="['edit', proj.id]">Edit</a></td>
                    <td *ngIf="userIsAuthtenticated"><button type="button" class="btn btn-danger" (click)="onDelete(proj.id)" >Delete</button></td>
                </tr>
                </tbody>
    
            </table>
            </div>
        </div>
        </div>
    </section>
    
    <div class="flex justify-center">
        <a routerLink="/create-projects"  target="_blank">
            <button class="bg-green-400 hover:bg-green-600 text-black uppercase text-4xl h-24 w-96  p-4 rounded mb-10" type="submit">Add project</button>
        </a>
    </div>
</div>

