<!-- Create Navbar Menu -->
<header class=" bg-gray-100 ">
  <div class="flex items-center justify-between p-6 h-32 bg-blue-500 shadow-sm " style="border: 1px solid black;">
    <a routerLink="" class="py-5 px-3  text-5xl text-white font-semibold" >My app</a>
    <div class="flex ">
        <a *ngIf="userIsAutheticated" routerLink="/employees" class="mr-4 text-4xl text-white hover:text-indigo-700">Employees</a>
        <a *ngIf="userIsAutheticated" routerLink="/projects" class="mr-4 text-4xl text-white hover:text-indigo-700">Projects</a>
        <a *ngIf="!userIsAutheticated" routerLink="/login" class="mr-4 text-4xl text-white hover:text-indigo-700">Login</a>
        <a *ngIf="!userIsAutheticated" routerLink="/signup" class=" text-4xl text-white hover:text-indigo-700">SignUp</a>
        <button *ngIf="userIsAutheticated" class=" text-4xl text-white hover:text-indigo-700" (click)="onLogout()">Log out</button>
    </div>
      
  </div>
</header>