<div class="flex justify-center items-center w-full bg-blue-400 mt-10">
    <div class="w-1/2 bg-white rounded shadow-2xl p-8 m-4">
        <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Save an employer Form</h1>
        <form  (submit)="onAddEmp(empForm)" #empForm="ngForm" action="/employees">
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="name">Name</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="name" id="name" [ngModel]="emp?.Name" required>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="address">Address</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="address" id="address" [ngModel]="emp?.Adress" required>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="email">Email</label>
                <input class="border py-2 px-3 text-grey-800" type="email" name="email" id="email" [ngModel]="emp?.Email" required>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="Date">Hire date</label>
                <input class="border py-2 px-3 text-grey-800" type="date" name="date" id="date" [ngModel]="emp?.Hire_date" required>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="salary">Salary</label>
                <input class="border py-2 px-3 text-grey-800" type="number" name="salary" id="salary" [ngModel]="emp?.Salary" required>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="job_title">Job title</label>
                <input class="border py-2 px-3 text-grey-800" type="text" name="job_title" id="job_title" [ngModel]="emp?.Job_title" required>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-bold text-2xl text-gray-900" for="project_id">Project ID</label>
                 <input class="border py-2 px-3 text-grey-800" value="615c4ef737fa21086b6f4481" type="text" name="project_id" id="project_id" [ngModel]="emp?.project_id">  
                 <!-- <select name="project" ngModel (ngModelChange) ="onProjectChanged($event)" id="project_id">
                        <option *ngFor = "let proj of projs" [ngValue]="proj.id" name="projectName">
                            {{proj.project_name}}
                        </option>
                </select>  -->

            </div>
            <button class="block bg-green-400 hover:bg-green-600 text-black uppercase text-2xl mx-auto p-4 rounded" type="submit">Save employer with a project!</button>
        </form>
    </div>
</div>